<footer class="bg-black">
    <div>
        <div class="flex justify-between px-4 py-3 ">
            <a routerLink="/" class="text-sm md:text-base text-white transition-colors duration-300  hover:text-neutral-400 ">
                Home
            </a>
            
            <a routerLink="/Accomondations" class="text-sm md:text-base text-white transition-colors duration-300  hover:text-neutral-400 ">
                Accomondations
            </a>
            
            <a routerLink="/Details" class="text-sm md:text-base text-white transition-colors duration-300 hover:text-neutral-400 ">
                Details
            </a>

            <a routerLink="/Gallery" class="text-sm md:text-base text-white transition-colors duration-300  hover:text-neutral-400 ">
                Gallery
            </a>

            <a routerLink="/Registry" class="text-sm md:text-base text-white transition-colors duration-300  hover:text-neutral-400 ">
                Registry
            </a>

            <a routerLink="/RSVP" class="text-sm md:text-base text-white transition-colors duration-300  hover:text-neutral-400 ">
                RSVP
            </a>
        </div>
    </div>
</footer>