<nav
  class="bg-white  py-3 px-8 text-black font-semibold text-sm xs:text-base md:text-lg"
>
  <ul class="flex justify-between">
    <li>
      <a routerLink="/" class="relative group">
        Home
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-800 transition-all group-hover:w-full"
        ></span>
      </a>
    </li>
    <li>
      <a routerLink="/" class="relative group">
        Accomondations
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-800 transition-all group-hover:w-full"
        ></span>
      </a>
    </li>
    <li>
      <a routerLink="/details" class=" relative group">
        Details
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-800 transition-all group-hover:w-full"
        ></span>
      </a>
    </li>
    <li>
      <a routerLink="/rsvp" class="relative group">
        RSVP
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-800 transition-all group-hover:w-full"
        ></span>
      </a>
    </li>
  </ul>
</nav>

<!-- 
<ul class="italic space-y-2 text-white font-bold">
      
    <li>
      <a class="relative group" routerLink="/" draggable="false">Home
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
      </a>
    </li> 
    <li>
      <a class="relative group" routerLink="/Accomondations" draggable="false">Accomondations
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
      </a>
    </li>
    <li>
      <a class="relative group" routerLink="/Details" draggable="false">Details
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
      </a>
    </li>
    <li>
      <a class="relative group" routerLink="/Gallery" draggable="false">Gallery
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
      </a>
    </li>

    <li>
      <a class="relative group" routerLink="/Registry" draggable="false">Registry
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
      </a>
    </li>
    <li>
      <a class="relative group" routerLink="/RSVP" draggable="false">RSVP
        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
      </a>
    </li>
  </ul>
   -->
