<nav
  class="bg-white didot border-b border-neutral-400/50 py-3 px-4 sm:px-8 lg:px-16 xl:px-32 text-black font-semibold text-lg xs:text-xl"
>
  <ul class="flex justify-between sm:justify-evenly">
    <li>
      <a draggable="false" routerLink="/TA-home" class="relative group">
        Home
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-800 transition-all group-hover:w-full"
        ></span>
      </a>
    </li>
    <!-- <li>
      <a
        draggable="false"
        routerLink="/"
        class="relative group text-neutral-700/50 cursor-text"
      >
        Accomondations
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-700/50 transition-all group-hover:w-full"
        ></span>
      </a>
    </li> -->
    <li>
      <a draggable="false" routerLink="/TA-details" class="relative group">
        Details
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-800 transition-all group-hover:w-full"
        ></span>
      </a>
    </li>
    <li>
      <a draggable="false" routerLink="/TA-gallery" class="relative group">
        Gallery
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-800 transition-all group-hover:w-full"
        ></span>
      </a>
    </li>
    <li>
      <a
        draggable="false"
        target="_blank"
        href="https://withjoy.com/Tico-and-Anne/registry"
        class="relative group"
      >
        Registry
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-800 transition-all group-hover:w-full"
        ></span>
      </a>
    </li>
    <li>
      <a draggable="false" routerLink="/TA-rsvp" class="relative group">
        RSVP
        <span
          class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-800 transition-all group-hover:w-full"
        ></span>
      </a>
    </li>
  </ul>
</nav>
