<div class="">
  <div class="bg2 h-screen px-4 sm:px-8 py-4 sm:py-8 sm:flex justify-center">
    <div
      class="bg-white h-fit sm:min-w-[450px] p-8 rounded-lg shadow-md shadow-black/30"
    >
      <h2
        class="text-3xl didot tracking-wide font-semibold mb-4 text-center sm:text-left"
      >
        RSVP FORM
      </h2>
      <hr class="mb-4" />
      <form
        class="text-lg flex flex-col gap-3 didot"
        [formGroup]="rsvpForm"
        (ngSubmit)="sendRSVP()"
      >
        <div class="flex flex-col">
          <label class="font-semibold text-xl tracking-wide" for="name"
            >Full Name:</label
          >
          <input
            type="text"
            id="name"
            formControlName="name"
            class="border rounded px-2 w-full"
          />
          <!-- <div
            *ngIf="
              rsvpForm.get('name')?.touched && rsvpForm.get('name')?.invalid
            "
            class="error"
          >
            Name is required.
          </div> -->
        </div>

        <div class="flex flex-col">
          <label class="font-semibold text-xl tracking-wide" for="email"
            >Email:</label
          >
          <input
            type="email"
            id="email"
            formControlName="email"
            class="border rounded px-2 w-full"
          />
          <!-- <div
            *ngIf="
              rsvpForm.get('email')?.touched && rsvpForm.get('email')?.invalid
            "
            class="error"
          >
            A valid email is required.
          </div> -->
        </div>

        <div class="flex flex-col">
          <label class="font-semibold text-xl tracking-wide" for="phone"
            >Phone Number:</label
          >
          <input
            type="phone"
            id="phone"
            formControlName="phone"
            class="border rounded px-2 w-full"
          />
          <!-- <div
            *ngIf="
              rsvpForm.get('phone')?.touched && rsvpForm.get('phone')?.invalid
            "
            class="error"
          >
            A valid phone number is required.
          </div> -->
        </div>

        <div class="flex flex-col gap-2">
          <label class="font-semibold text-xl tracking-wide">Attending:</label>
          <div class="flex gap-4">
            <label>
              <input type="radio" formControlName="attending" value="yes" />
              Yes
            </label>
            <label>
              <input type="radio" formControlName="attending" value="no" />
              No
            </label>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <label class="font-semibold text-xl tracking-wide">Events:</label>
          <div *ngFor="let event of events">
            <label>
              <input
                type="checkbox"
                [value]="event"
                (change)="toggleEvent(event)"
              />
              {{ event }}
            </label>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="rsvpForm.invalid || isSubmitting"
          class="border-2 mt-4 border-black cursor-pointer rounded bg-black text-white w-32 py-1 hover:text-black hover:bg-transparent transition-all duration-300 ease-in-out"
        >
          {{ isSubmitting ? "Submitting..." : "Submit" }}
        </button>
      </form>
    </div>

    <div *ngIf="submissionSuccess" class="success-message">
      Thank you for your RSVP!
    </div>
    <div *ngIf="submissionError" class="error-message">
      There was an error submitting your RSVP. Please try again.
    </div>
  </div>
</div>
