<main class="main">
  <!-- <div class="absolute left-4 md:left-8 top-4 md:top-8">
    <ul class="italic space-y-2">
      <li>
        <a class="relative group" routerLink="/" draggable="false">Home
          <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
        </a>
      </li> 
      <li>
        <a class="relative group" routerLink="/Accomondations" draggable="false">Accomondations
          <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
        </a>
      </li>
      <li>
        <a class="relative group" routerLink="/Details" draggable="false">Details
          <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
        </a>
      </li>
      <li>
        <a class="relative group" routerLink="/Gallery" draggable="false">Gallery
          <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
        </a>
      </li>

      <li>
        <a class="relative group" routerLink="/Registry" draggable="false">Registry
          <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
        </a>
      </li>
      <li>
        <a class="relative group" routerLink="/RSVP" draggable="false">RSVP
          <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-neutral-400 transition-all group-hover:w-full"></span>
        </a>
      </li>
    </ul>
  </div> -->

  <router-outlet />
  <!-- <app-footer /> -->
</main>
