<div
  class="flex flex-col text-center justify-between pt-4 bg-white"
  *ngIf="timeLeft > 0"
>
  <h2 class="text-4xl sm:text-5xl font-normal font-serif my-4 italic">
    Save the Date!
  </h2>
  <div class="flex flex-col items-center justify-items-center mb-8">
    <h2
      class="text-4xl sm:text-5xl font-bold text-white bg-black/90 p-4 pb-3 rounded-md hover:scale-110 transition-all ease-in-out duration-500"
    >
      {{ days }}d {{ hours }}h {{ minutes }}m {{ seconds }}s
    </h2>
    <p class="text-xl text-gray-700 mt-4 font-nromal font-serif">
      Countdown to {{ targetDate }}
    </p>
  </div>
</div>
