<div id="story" class="w-full min-h-svh max-h-fit text-center">
  <img
    draggable="false"
    class="absolute -z-30 object-fill h-full w-full"
    src="https://static.wixstatic.com/media/11062b_0e4baa071ef74597b23e6d8e5afcb19ef000.jpg/v1/fill/w_980,h_894,al_c,q_85,usm_0.33_1.00_0.00,enc_avif,quality_auto/11062b_0e4baa071ef74597b23e6d8e5afcb19ef000.jpg"
  />
  <div class="pb-2 lg:pb-8">
    <h2 id="story" class="text-6xl titleNames uppercase pt-12 lg:pt-28">
      Our Story
    </h2>
    <h2
      class="relative -top-8 text-5xl italic font-light text-amber-800 opacity-20"
    >
      It's a Forever Thing
    </h2>
  </div>
  <p
    class="text-lg lg:text-xl px-8 md:px-12 lg:px-24 xl:px-48 italic text-pretty"
  >
    In April 2011, Ronnie and Ashley met as a "wingman" and a "third wheel" to
    their respective best friends. Despite not looking for a relationship, they
    felt a connection that neither of them had ever felt before. After weeks of
    talking to each other everyday, sharing stories of past experiences, dreams
    for the future, and everything in between, they became inseparable.<br /><br />
    The two of them start spending more and more time together, eventually
    discovering that their connection has become far deeper than either of them
    expected. Ashley and Ronnie started dating, travelled the world together,
    played numerous escape room games, shared secrets, and enjoyed each other's
    company. They were in love, and it became undeniable.<br /><br />Two hearts
    meant for each other; Ashley and Ronnie are living proof that even the most
    unlikely of stories can turn into a beautiful romance that lasts a lifetime.
    Twelve years later, they choose forever. Love is an unexpected journey!
    <br /><br />Join Ashley and Ronnie as they take you on their journey of
    <br />Everlasting Love and True Companionship! <br /><br />
  </p>
  <p class="italic text-xl pt-4">#FinallyFosters</p>
</div>
