<div class="h-screen w-full md:w-auto md:h-screen flex flex-col justify-center aspect-auto">
    <!-- Example usage with a local video file and a poster image -->
    <app-video-player
    class="w-full h-auto md:w-auto md:h-full mt-4 flex justify-center"
        src="../SaveTheDate.mp4"
    ></app-video-player>
    <div class="text-center text-white h-fit">
        <p class="text-black  font-serif font-bold text-xl md:text-3xl mt-4 text-center">
            Add to Calendar
        </p>
        <div id="logo_container" class="  font-serif mt-2 pb-4 text-base md:text-xl text-center flex justify-center md:gap-2">
            <a
            class="bg-black text-white shadow-md shadow-black/30 rounded py-2 px-3 hover:scale-110 transition-all duration-300 ease-in-out"
            href="https://calget.com/0hx9o49u?cal=google" title="Google" target="_blank" style="display: inline-flex; align-items: center; margin: 5px; text-decoration: none;">
                <img src="https://calget.com/assets/img/calendar_icons/icon-google.png" alt="Google" border="0" style="height: 18px; width: 18px; margin-right: 10px;">Google
            </a>
            <a class="bg-black text-white shadow-md shadow-black/30 rounded py-2 px-3 hover:scale-110 transition-all duration-300 ease-in-out"
            href="https://calget.com/0hx9o49u?cal=apple" title="Apple" target="_blank" style="display: inline-flex; align-items: center; margin: 5px; text-decoration: none;">
                <img class="invert" src="https://calget.com/assets/img/calendar_icons/icon-apple.png" alt="Apple" border="0" style="height: 18px; width: 18px; margin-right: 10px;">Apple
            </a>
            <a class="bg-black text-white shadow-md shadow-black/30 rounded py-2 px-3 hover:scale-110 transition-all duration-300 ease-in-out"
            href="https://calget.com/0hx9o49u?cal=outlook" title="Outlook Web" target="_blank" style="display: inline-flex; align-items: center; margin: 5px; text-decoration: none;">
                <img src="https://calget.com/assets/img/calendar_icons/icon-outlook.png" alt="Outlook" border="0" style="height: 18px; width: 18px; margin-right: 10px;">Outlook
            </a>

        
        </div>
    </div>
</div>