/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'AgathoLightCAPS';
    src: url('./assets/fonts/AgathoLight.otf') format('otf');
}


.titleNames {
    font-family: 'AgathoLightCAPS', sans-serif;
}

a {
    transition: color 100ms ease-in-out;
    cursor: pointer;
    
}

a:hover {
    color: gray;
    text-underline-offset: 5px;
    text-decoration: underline;
}

:root {
    min-width: 320px;
    height: 100svh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    min-width: 320px;

}