/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'AgathoLightCAPS';
    src: url('./assets/fonts/AgathoLight.otf') format('otf');
}

@font-face {
    font-family: 'DidotBold';
    src: url('./assets/fonts/DidotBold.otf') format('otf');
}

@font-face {
    font-family: 'DidotItalic';
    src: url('./assets/fonts/DidotItalic.otf') format('otf');
}

@font-face {
    font-family: 'DidotTitle';
    src: url('./assets/fonts/DidotTitle.otf') format('otf');
}

@font-face {
    font-family: 'Didot';
    src: url('./assets/fonts/Didot.otf') format('otf');
}


.titleNames {
    font-family: 'AgathoLightCAPS', sans-serif;
}

.didot {
    font-family: 'Didot', sans-serif;
}

.didotBold {
    font-family: 'DidotBold', sans-serif;
}

.didotTitle {
    font-family: 'DidotTitle', sans-serif;
}

.didotItalic {
    font-family: 'DidotItalic', sans-serif;
}

a {
    cursor: pointer;
}


:root {
    min-width: 320px;
    height: 100svh;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    min-width: 320px;

}