.bg1 {
  background-image: url("../../assets/imgs/newBg.svg");
  background-size: cover;
}
.bg2 {
  background-size: cover;
  background-image: url("../../assets/imgs/weddingInvite.svg");
}
.bg3 {
  background-size: cover;
  background-image: url("../../assets/imgs/newBg.svg");
}
.bgMobile {
  background-size: cover;
  background-image: url("../../assets/imgs/bgMobile.webp");
}
