<div id="home" class="text-center text-pretty relative">
  <div
    class="bg1 sm:bg1 py-24 min-h-fit flex flex-col place-items-center place-content-center"
  >
    <!-- <img
      class="absolute w-full object-cover min-h-full left-0 -z-50 opacity-0 lg:opacity-80"
      src="./bg.webp"
    />
    <img
      class="absolute w-full object-cover left-0 min-h-full -z-40 opacity-80 lg:opacity-0"
      src="./bgMobile.webp"
    /> -->
    <div class="flex flex-col xl:flex-row place-items-center sm:gap-4">
      <h1 class="didotItalic text-6xl sm:text-7xl lg:text-8xl font-bold">
        TICO
      </h1>
      <p class="text-5xl font-light animate-bounce">🤍</p>
      <h1 class="didotItalic text-6xl sm:text-7xl lg:text-8xl font-bold">
        ANNE
      </h1>
    </div>
    <p class="didot italic font-semibold text-lg sm:text-xl lg:text-2xl mt-2">
      April 8 -10, 2025
    </p>
    <hr class="border-neutral-300 w-44 my-1" />
    <p class="lg:text-lg didot font-semibold">Lajas, Puerto Rico</p>
    <img
      draggable="false"
      class="flex justify-self-center max-w-[30%] sm:max-w-[185px] lg:max-w-[215px] pt-4"
      src="./Monogram.webp"
    />
    <p
      class="didot font-semibold tracking-wide px-6 text-xl md:text-2xl mx-8 py-4 bg-white/70 xl:bg-transparent rounded-2xl"
    >
      <a class="font-bold cursor-text"
        >Together with their families,<br />
        Tico & Anne</a
      ><br />are thrilled to <a class="font-bold cursor-text">invite you</a
      ><br />
      to join them<br />
      As they take the plunge,<br />
      and start their dance of a lifetime!
    </p>
  </div>

  <!-- Section 2 ---------------------->
  <div class="h-fit relative bg3 didotItalic font-semibold tracking-wider">
    <!-- <img class="absolute left-0 h-full bg-cover w-full -z-50 " src="./bg2.avif" /> -->
    <div
      class="flex flex-col gap-8 place-items-center py-16 px-8 md:px-24 lg:px-32"
    >
      <h3 class="text-3xl sm:text-4xl lg:text-5xl font-bold">Destination</h3>
      <p class="text-lg sm:text-xl lg:text-2xl">
        In this unforgettable destination wedding in the enchanting paradise of
        Puerto Rico.<br />
        Picture this: golden sunsets, the gentle whisper of the ocean, and a
        celebration<br />
        that promises laughter, joy, and a splash of island magic.
      </p>

      <p class="text-lg sm:text-xl lg:text-2xl">
        Pack your bags and your dancing shoes.
      </p>

      <p class="text-lg sm:text-xl lg:text-2xl">
        Your presence will make our special day even<br />more magical, and we
        can't wait to create<br />
        cherished memories together.
      </p>
    </div>
  </div>

  <!-- Section 3 -------------------------->

  <div class="relative h-fit bg1 didotItalic font-semibold tracking-wider">
    <div
      class="flex flex-col place-items-center bg-white gap-8 p-8 filter-none"
    >
      <h2 class="text-3xl sm:text-4xl lg:text-5xl font-bold">Details</h2>
      <div class="flex flex-col gap-1 text-lg sm:text-xl lg:text-2xl">
        <p>
          <a class="font-semibold cursor-text">Wedding Ceremony</a>: Wednesday,
          the 9th of April, 2025
        </p>
        <p><a class="font-semibold cursor-text">Time</a>: 5:00 PM</p>
        <p>
          <a class="font-semibold cursor-text">Venue</a>: Hacienda Los Pablo,
          Lajas, Puerto Rico
        </p>
      </div>
      <p class="text-lg sm:text-xl font-semibold">Reception to follow</p>

      <iframe
        class="border-2 border-black rounded-lg h-[300px] w-[300px] sm:w-[450px] lg:w-[550px] lg:h-[400px]"
        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d60702.65756165852!2d-67.12155592781234!3d18.02909702239873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8c1d494c607e65a3%3A0xb86ffc033c034010!2s101%2C%20Km%209%204%2C%20Palmarejo%2C%2000667%2C%20Puerto%20Rico!3m2!1d18.0291014!2d-67.0802705!5e0!3m2!1sen!2sus!4v1736394234345!5m2!1sen!2sus"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <p class="text-lg sm:text-xl lg:text-2xl">
        Prepare for a celebration filled with laughter, love, and a few dance
        moves.
      </p>
      <div class="text-lg sm:text-xl lg:text-2xl">
        <p>
          Kindly
          <a
            draggable="false"
            routerLink="/rsvp"
            class="font-semibold relative group cursor-pointer text-rose-500"
            >RSVP
            <span
              class="absolute bottom-0 left-0 w-0 h-0.5 bg-rose-400 transition-all group-hover:w-[90%]"
            ></span
          ></a>
          by March 9th, 2025
        </p>
        <p>
          <a class="font-semibold cursor-text">Dress Code:</a> Cocktail Attire
        </p>
        <br />
        <p class="text-pretty sm:text-xl lg:text-2xl">
          We love your children,<br />we cannot accommodate guests<br />under
          the age of <a class="font-semibold cursor-text">13</a> on our wedding
          day.
        </p>
      </div>
      <p class="text-lg sm:text-xl lg:text-2xl">
        We can't wait to fiesta with you! 🌺💕
      </p>
    </div>

    <div class="text-center text-white h-fit">
      <p
        class="text-white sm:text-black font-serif font-bold text-xl md:text-2xl mt-4 text-center"
      >
        Add to C<a class="text-white sm:text-black">alendar</a>
      </p>
      <div
        id="logo_container"
        class="font-serif mt-2 pb-4 text-base md:text-xl text-center flex justify-center md:gap-2"
      >
        <a
          class="bg-black text-white shadow-md shadow-black/30 rounded py-2 px-3 hover:scale-110 transition-all duration-300 ease-in-out"
          href="https://calget.com/0hx9o49u?cal=google"
          title="Google"
          target="_blank"
          style="
            display: inline-flex;
            align-items: center;
            margin: 5px;
            text-decoration: none;
          "
        >
          <img
            src="https://calget.com/assets/img/calendar_icons/icon-google.png"
            alt="Google"
            border="0"
            style="height: 18px; width: 18px; margin-right: 10px"
          />Google
        </a>
        <a
          class="bg-black text-white shadow-md shadow-black/30 rounded py-2 px-3 hover:scale-110 transition-all duration-300 ease-in-out"
          href="https://calget.com/0hx9o49u?cal=apple"
          title="Apple"
          target="_blank"
          style="
            display: inline-flex;
            align-items: center;
            margin: 5px;
            text-decoration: none;
          "
        >
          <img
            class="invert"
            src="https://calget.com/assets/img/calendar_icons/icon-apple.png"
            alt="Apple"
            border="0"
            style="height: 18px; width: 18px; margin-right: 10px"
          />Apple
        </a>
        <a
          class="bg-black text-white shadow-md shadow-black/30 rounded py-2 px-3 hover:scale-110 transition-all duration-300 ease-in-out"
          href="https://calget.com/0hx9o49u?cal=outlook"
          title="Outlook Web"
          target="_blank"
          style="
            display: inline-flex;
            align-items: center;
            margin: 5px;
            text-decoration: none;
          "
        >
          <img
            src="https://calget.com/assets/img/calendar_icons/icon-outlook.png"
            alt="Outlook"
            border="0"
            style="height: 18px; width: 18px; margin-right: 10px"
          />Outlook
        </a>
      </div>
    </div>
  </div>
</div>
