<div>
  <div class="grid grid-cols-1 sm:grid-cols-2 mx-4 sm:mx-8 gap-8 mt-4 sm:mt-8">
    <div class="flex flex-col">
      <img
        class="h-auto rounded shadow-md shadow-black/30"
        src="https://res.cloudinary.com/simpleview/image/upload/v1683155793/clients/bigskymt/Horseback_Riding_1__f9be4522-1f31-4ff1-9a12-5f5db6d36a32.jpg"
      />
      <div class="mt-4">
        <h2 class="font-semibold text-xl sm:text-2xl">Activities</h2>
        <p class="lg:text-lg">
          <a class="font-semibold">March 8:</a> Check-in & Welcome Party Pool,
          Zoo, Horseback riding. <br /><a class="font-semibold">March 9:</a>
          Ceremony & Reception. <br /><a class="font-semibold">March 10: </a
          >Farewell Breakfast.
        </p>
      </div>
    </div>
    <div class="flex flex-col">
      <img
        class="h-auto rounded shadow-md shadow-black/30"
        src="https://www.thehotelguru.com/_images/ff/70/ff7091631f55284083b7b72e15e6fe31/s1654x900.jpg"
      />
      <div class="mt-4">
        <h2 class="font-semibold text-xl sm:text-2xl">Accommodations</h2>
        <p class="">
          <a class="font-semibold">La Jamaca</a> (3⭐) <br />Address: Reparto
          Laborde, La Parguera, Lajas, PR 00667- 9min <br /><a
            class="font-semibold"
            >Parguera Plaza Hotel</a
          >
          - Adults Only (4⭐) <br />Address: Street 304 Km 3.2, Lajas, PR 00667
          - 13min <br /><a class="font-semibold">Tryp by Wyndham</a> (3⭐)
          <br />Address: 11 CALLE SANTIAGO RIERA PALMER, Mayagüez, PR 00680 -
          34min <br /><a class="font-semibold">Holiday Inn & Casino</a> (3⭐)
          <br />Address: 2701 Highway #2 Hostos Avenue, Mayagüez, PR 00680 -
          40min
        </p>
      </div>
    </div>
  </div>
  <!-- Travel Info -->

  <div class="flex flex-col sm:flex-row mx-4 sm:mx-8 my-12">
    <div class="w-full sm:w-1/2 pr-4">
      <h2 class="font-semibold text-xl sm:text-2xl">Travel Info</h2>
      <p class="">
        <a class="font-semibold">Closest International Airports: </a><br />
        Ponce Mercedita Int’l (PSE)<br />
        Aguadilla Rafael Int’l Airport (BQN)<br />

        <a class="font-semibold">Other International Airport:</a><br />
        Luis Munoz San Juan Int’l Airport (SJU)<br />
        <br /><br />
      </p>
      <h2 class="font-semibold text-xl sm:text-2xl">Recommendation</h2>
      <p>
        Use the interactive map to see the locations of all the places.<br />
        Get a rental car.<br />
        If you fly to Puerto Rico from Fort Lauderdale or Orlando you can fly
        directly into Ponce (PSE) or Aguadilla (BQN).<br />
      </p>
    </div>
    <div class="w-full sm:w-1/2 flex justify-center mt-4 sm:mt-0">
      <iframe
        class="border border-black shadow-md shadow-black/30 rounded-lg h-[300px] w-[300px] lg:w-[450px] xl:w-[550px] lg:h-[350px]"
        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d60702.65756165852!2d-67.12155592781234!3d18.02909702239873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x8c1d494c607e65a3%3A0xb86ffc033c034010!2s101%2C%20Km%209%204%2C%20Palmarejo%2C%2000667%2C%20Puerto%20Rico!3m2!1d18.0291014!2d-67.0802705!5e0!3m2!1sen!2sus!4v1736394234345!5m2!1sen!2sus"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
