<div class="pt-48 bg-amber-50/50">
  <!-- <img
    draggable="false"
    class="absolute -z-30 object-none -left-48 md:-left-16 pt-80 -rotate-12 lg:scale-150 sr-only"
    src="https://static.wixstatic.com/media/47a772_52358ab57d094640b42c1be4b752a3ea~mv2.png/v1/fill/w_402,h_465,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/47a772_52358ab57d094640b42c1be4b752a3ea~mv2.png"
  /> -->
  <h2 class="text-6xl md:text-7xl text-center titleNames pb-12">Our Wedding Day</h2>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:px-6 pb-24 ">
    <div class="flex flex-col place-items-center ">
      <div class="italic text-center md:text-left text-lg md:text-xl flex flex-col space-y-4">
        <div>
          <h3 class="text-amber-800 opacity-80 font-semibold">Ceremony</h3>
          <p>
            Tuesday, April 8, 2025<br />Private Ceremony<br />Refer to
            Invitation for Details<br />*Invite Only
          </p>
        </div>
        <div class="pt-4">
          <h3 class="text-amber-800 opacity-80 font-semibold">Dinner | Reception</h3>
          <p>
            Immediately Following Ceremony

            <br />*Invite Only
          </p>
        </div>
        <div class="pt-4">
          <h3 class="text-amber-800 opacity-80 font-semibold">The After Party</h3>
          <p>
            Wednesday, April 9, 2025<br />6:30PM -10:30PM

            <br />All are Welcome
          </p>
        </div>
        <div class="md:sr-only pt-4 pb-8">
          <h3 class="text-amber-800 opacity-80 font-semibold">Where</h3>
          <p>
            Mallard's Croft

            <br />2867 MS-309

            <br />Lajas, Puerto Rico

          </p>
        </div>
      </div>
    </div>
    <div
      class="italic text-lg md:text-xl flex flex-col place-items-center md:place-items-baseline sm:justify-end"
    >
      <div class="sr-only md:not-sr-only pt-8 pb-8">
        <h3 class="text-amber-800 opacity-80 font-semibold">Where</h3>
        <p>
          Mallard's Croft

          <br />2867 MS-309

          <br />Byhalia, Mississippi 38611

          <br />View Map
        </p>
        <br />
      </div>
      <div class="rounded border-black border shadow-lg shadow-black/50 w-[300px] sm:w-[500px] md:w-[400px]"
        style="
          max-width: 100%;
          list-style: none;
          transition: none;
          overflow: hidden;
          height: 300px;
        "
      >
        <div
          id="display-google-map"
          style="height: 100%; width: 100%; max-width: 100%"
        >
          <iframe
            class="w-full h-[300px]"
            frameborder="0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30349.264060383946!2d-67.07872403021405!3d18.041068309543245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c1d4bd00acac9af%3A0x71d77b79bba3070!2sLajas%2C%2000667%2C%20Puerto%20Rico!5e0!3m2!1sen!2sus!4v1735615721309!5m2!1sen!2sus"
          ></iframe>
        </div>
        <a
          class="google-map-code-enabler"
          rel="nofollow"
          href="https://kbj9qpmy.com/bp"
          id="enable-map-data"
          >Internet Provider</a
        ><style>
          #display-google-map img.text-marker {
            max-width: none !important;
            background: none !important;
          }
          img {
            max-width: none;
          }
        </style>
      </div>
    </div>
  </div>
  <div class="bg-paper-texture bg-cover">
    <div class="flex justify-between gap-x-0 overflow-hidden pt-16 w-full">
      <img
        class="object-cover"
        src="https://static.wixstatic.com/media/47a772_52358ab57d094640b42c1be4b752a3ea~mv2.png/v1/fill/w_600,h_694,al_c,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/black-peony-decorative-01.png"
      />
      <img
        draggable="false"
        class="object-cover overflow-visible"
        src="https://static.wixstatic.com/media/47a772_aa379537e14d4ef5837aea735e972d3c~mv2.png/v1/fill/w_502,h_416,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/ra%20monogram_edited.png"
      />
      <img
        class="-rotate-45 object-cover overflow-visible w-fit h-auto -mr-8"
        src="https://static.wixstatic.com/media/47a772_f7fc98c5d2194e0d96a795e58dcb2525~mv2.png/v1/fill/w_526,h_416,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/black-peony-07_edited.png"
      />
    </div>
    <div class="text-center  text-2xl lg:text-3xl italic pt-8 pb-16 px-16">
      <h2 class="text-amber-700 opacity-40 pb-2">Attire</h2>
      <p>All Black Formal Attire Requested.</p>
      <h2 class="text-amber-700 opacity-40 pt-8 pb-2">Children</h2>
      <p>
        Although we love the little ones, we have decided to have an adult-only
        wedding.
      </p>
    </div>
  </div>

</div>

